<!--顶部-->
<header class="header">
    <a href="javascript:void (0)" class="back"></a>
    <h2>夏日大作战抢半价</h2>
</header>

<!--content-->
<div class="content">
    <!--top img-->
    <img src="images/activity/activity_01.jpg">

    <!--coupon-->
    <img src="images/activity/activity_03.jpg" class="coupon">


    <!--timeLimit-->
    <div class="time-limit">
        <img src="images/activity/activity_04.jpg">

        <div class="time-limit-items">
            <img data-goodsid="" data-goodsitemid=""  src="images/goods_back.png" data-img="images/activity/activity_05.jpg"
                 class="time-limit-item lazyload">
            <img data-goodsid="" data-goodsitemid=""  src="images/goods_back.png" data-img="images/activity/activity_06.jpg"
                 class="time-limit-item lazyload">
            <img data-goodsid="" data-goodsitemid=""  src="images/goods_back.png" data-img="images/activity/activity_07.jpg"
                 class="time-limit-item lazyload">
            <img data-goodsid="" data-goodsitemid=""  src="images/goods_back.png" data-img="images/activity/activity_08.jpg"
                 class="time-limit-item lazyload">
            <img data-goodsid="" data-goodsitemid=""  src="images/goods_back.png" data-img="images/activity/activity_10.jpg"
                 class="time-limit-item lazyload">
            <img data-goodsid="" data-goodsitemid=""  src="images/goods_back.png" data-img="images/activity/activity_11.jpg"
                 class="time-limit-item lazyload">
        </div>

    </div>

    <div class="activity-list">
        <img src="images/activity/activity_12.jpg">

        <div class="activity-list-items">
            <a class="activity-list-item"
               href="http://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=93&storeActivityId=6"><img
                    src="images/goods_back.png" data-img="images/activity/activity_13.jpg" class="lazyload"></a>
            <a class="activity-list-item"
               href="http://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=93&storeActivityId=6"><img
                    src="images/goods_back.png" data-img="images/activity/activity_14.jpg" class="lazyload"></a>
            <a class="activity-list-item"
               href="http://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=93&storeActivityId=6"><img
                    src="images/goods_back.png" data-img="images/activity/activity_15.jpg" class="lazyload"></a>
            <a class="activity-list-item"
               href="http://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=93&storeActivityId=6"><img
                    src="images/goods_back.png" data-img="images/activity/activity_16.jpg" class="lazyload"></a>
        </div>

    </div>

    <!--activity-goodsList-->
    <div class="prefecture-list">

        <img src="images/activity/activity_18.jpg">
        <!--goods-list-->
        <div class="prefecture-list-items">
            <img data-goodsid="" data-goodsitemid="" src="images/goods_back.png"
                 data-img="images/activity/activity_20.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="" data-goodsitemid="" src="images/goods_back.png"
                 data-img="images/activity/activity_21.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="" data-goodsitemid="" src="images/goods_back.png"
                 data-img="images/activity/activity_24.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="" data-goodsitemid="" src="images/goods_back.png"
                 data-img="images/activity/activity_23.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="" data-goodsitemid="" src="images/goods_back.png"
                 data-img="images/activity/activity_25.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="" data-goodsitemid="" src="images/goods_back.png"
                 data-img="images/activity/activity_26.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="" data-goodsitemid="" src="images/goods_back.png"
                 data-img="images/activity/activity_27.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="" data-goodsitemid="" src="images/goods_back.png"
                 data-img="images/activity/activity_28.jpg" class="prefecture-list-item lazyload">
        </div>
    </div>


    <div class="activity-goods-list">
        <img src="images/activity/activity_29.jpg">

        <div class="goods-list-items infant">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_31.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_33.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_37.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_38.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_41.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_42.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_45.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_46.jpg" class="lazyload"></a>
        </div>
    </div>

    <div class="activity-goods-list">
        <img src="images/activity/activity_47.jpg">

        <div class="goods-list-items beauty">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_49.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_51.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_54.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_55.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_57.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_58.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_59.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity_60.jpg" class="lazyload"></a>
        </div>
    </div>

    <div class="activity-goods-list">
        <img src="images/activity/activity2_01.jpg">

        <div class="goods-list-items foods">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_03.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_05.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_09.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_10.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_13.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_14.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_17.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_18.jpg" class="lazyload"></a>
        </div>
    </div>

    <div class="activity-goods-list">
        <img src="images/activity/activity2_19.jpg">

        <div class="goods-list-items health">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_21.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_23.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_27.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_28.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_31.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_32.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_35.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity2_36.jpg" class="lazyload"></a>
        </div>
    </div>


    <div class="activity-goods-list">
        <img src="images/activity/activity3_01.jpg">

        <div class="goods-list-items house">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_03.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_05.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_09.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_10.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_13.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_14.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_17.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_18.jpg" class="lazyload"></a>
        </div>
    </div>


    <div class="activity-goods-list">
        <img src="images/activity/activity3_19.jpg">

        <div class="goods-list-items costume">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_21.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_23.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_27.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_28.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_31.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_32.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="" data-goodsitemid=""><img
                    src="images/goods_back.png" data-img="images/activity/activity3_35.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="11220" data-goodsitemid="11397"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_36.jpg" class="lazyload"></a>
        </div>
    </div>


</div>